@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 2s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #0f1217; /* Tailwind's gray-800 */
  --text-color: #aeb4bc; /* Tailwind's gray-50 */
  --active-color: #1c2129; /* Tailwind's blue-500 */
}

.bg-color {
  background-color: var(--bg-color);
}
